@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Inter:wght@400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
}
section{
    display: flex;
    flex-direction: column;
}
.textUpperCase{
    text-transform: uppercase; 
}
.textBold{
    color: #000;
    font-weight: bold;
}

/* start menu */
nav{
    display: flex;
    justify-content: space-between;
    background-color: #00CAD1;
    height: 70px;
    width: 100%;
    align-items: center;
}
nav .logo a img{
    width: 150px;
    margin-left: 15px;
}
nav .menu{
    margin-right: 15px;
}

nav .menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding-left: 15px;
}
/* end menu */
/*-------------------------------------------------*/
/* start main title */
section .main-title{
    background-size: 100%;
    background-image: url('assets/recepcao.png');
    background-repeat: repeat-y;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
section .main-title .internal{
    margin-top: 17%;
    margin-left: 10px;
    font-size: 29px;
    color: #fff;
}
/* end main title */
/*-------------------------------------------------*/
/* start about */
section .about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .about h2{
    margin-top: 50px;
    margin-bottom: 25px;
    font-weight: 800;
}
section .about p{
    margin-bottom: 25px;
    text-align: center;
    color: #6b6767;
}
.about-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #6b6767;
}
.container-about ul{
    font-weight: 800;
}
.container-about ul{
    margin-top: 25px;
    margin-left: 35px;
}
/* end about */
/*-------------------------------------------------*/
/* start mult */
.container-mult{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mult{
    text-align: center;
}
.mult h4{
    font-weight: 800;
    color: #3f3d3d;
    margin-top: 30px;
    margin-bottom: 20px;
}
.mult p{
    color: #6b6767;
    margin-bottom: 40px;
}
.container-mult .specialists{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92%;
}
.img-specialists{
    box-shadow: 0px 0px 4px 2px rgba(141, 139, 139, 0.9);
}
.img-specialists img{
    width: 350px;
    height: 250px;
}
.img-specialists p{
    text-align: center;
    padding: 10px 0;
    color: #6b6767;
}
.container-mult a{
    margin: 40px 0px 20px 0px;
    background-color: #00CAD1;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    padding: 15px 20px;
}
.container-mult a:hover{
    background-color: #03888d;
}
/* end mult */
/*-------------------------------------------------*/
/* start contact */
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6b6767;
}
#contact h3{
    color: #3f3d3d;
    margin: 15px 0;
}
#contact p{
    margin: 15px 0;
    text-align: center;
}
#contact iframe{
    width: 95%;
}
/* end contact */
/*-------------------------------------------------*/
/* start footer */
footer{
    margin-top: 40px;
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: #0C6E71;
    align-items: center;
}
.footer img{
    margin-top: 25px;
    width: 100px;
}
.footer p{
    margin: 10px;
    color: #fff;
}
.footer a{
    text-decoration: none;
    color: #fff;
}
.footer .end{
    margin-bottom: 30px;
}
/* end footer */
/*-------------------------------------------------*/
/* start responsive page home */
/*-------------------------------------------------*/
@media (max-width: 425px){
    nav {
        flex-direction: column;
        height: 130px;
        /* background-color: #6b6767; */

    }

    nav .logo{
        margin-top: 10px;
        text-align: center;
        /* background-color: #6b6767; */
    }
    nav .menu{
        /* background-color: #6b6767; */
        border-top: 1px solid #51a0a3;
        display: flex;
        flex-direction: row;
        padding: 10px 10px 10px 0px;
        justify-content:space-around;
    }
    nav .menu a{
        font-size: 15px;
    }
    section{
        align-items: center;
    }
    section  .main-title {
        margin-bottom: -80%;
        background-repeat: no-repeat;
    }
    section  .main-title .internal{
        font-size: 16px;
    }

    section .about-details img{
        width: 0;
    
    }
    .about .about{
        font-size: 13px;
        margin-left: -2%;
        width: 90%;
        /* background-color: #6b6767; */
    }
    section .about-details .container-about{
        font-size: 13px;
        margin-left: 5%;
        width: 90%;
        /* background-color: #6b6767; */
    }
    section .container-mult .mult{
        margin-left: -2%;
        width: 90%;
        font-size: 15px;
        /* background-color: #6b6767; */
    }
    section .container-mult .specialists{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: #6b6767; */
    }
    section .container-mult .specialists div{
        margin-bottom: 30px;
        /* background-color: #6b6767; */
    }
    #geriatrics{
        margin-bottom: 0px;
    }
    section .container{
        width: 90%;
        /* background-color: #6b6767; */
    }
    section .container p{
        font-size: 14px;
        /* width: 98%; */
    }
    .footer p{
        text-align: center;
        width: 85%;
    }
}


@media (min-width:426px) and (max-width: 768px){
    section .main-title{
        background-repeat: no-repeat;
        margin-bottom: -20%;
    }
    section .main-title .internal h1{
        margin-top: -4%;
    }
    section .about-details img{
        width: 0;
    }
    section .container-mult .specialists{
        flex-wrap: wrap;
        width: 95%;
        justify-content: center;
    }
    section .container-mult .specialists div{
        margin: 5px;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    section .main-title{
        background-repeat: no-repeat;
        margin-bottom: -10%;
    }    
    section .container-mult .specialists{
        width: 90%;
        justify-content: center;
    }
    .img-specialists{
        margin-right: 15px;
    }
    .img-specialists img{
        width: 100%;
        height: 80%;
    }
}
/* end responsive page home */