@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Inter:wght@400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
    .container .link{
        /* border: 1px solid; */
        margin: 20px auto;
    }
    .container .link a{
        text-decoration: none;
        color: #000;
        border-bottom: 3px solid #00CAD1;
        margin-right: 15px;
    }
    .container h2{
        margin: 15px auto;
        color: #5f5b5b;
        font-weight: bold;
    }

    .container .header-specialties{
        text-align: center;
    }
    .container .header-specialties h3{
        color: #5f5b5b;
        margin: 15px
    }
    .container .header-specialties p{
        color: #5f5b5b;
        margin: 15px
    }
    .container .table{
        display: flex;
        flex-direction: row;
        width: 85%;
        height: 300px;
    }

    .container .table img{
        width: 35%;
    }
    .container .table table{
        width: 65%;
        text-align: left;
        border-collapse: collapse;
    }
    .container .table table thead{
        background-color: #00CAD1;
        color: #fff;
        line-height: 58px;
    }
    th,td{
        padding-left: 10px;
    }
    tbody tr:nth-child(odd) {
        background-color: #cac5c5;
      }